.landingContainer{
    width: 100vw;
    height: 100vh;
}

.card{
    display: flex;
    padding: 10rem;

    margin-left: 20rem;

    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.landingContainer .botaoComprar{
    width: 100%;
    padding: 5rem 0;
    margin-bottom: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landingContainer .botaoComprar button{
    width: 40%;
    background-color: var(--azul);
    color: #fff;

    padding: 1.2rem 0;
    border-radius: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: 800;
    cursor: pointer;

    transition: all 0.3s ease;
}

.landingContainer .botaoComprar button:hover{
    transform: scale(1.01);
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(0,0,0,0.4);
}