/* Font Import */
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Regular.ttf');
}

/* resets necessarios */
* {
	margin: 0;
	padding: 0;
	outline: 0;
	border: none;
	box-sizing: border-box;
}

:root {
	--verde-claro: #c7ffa6;
	--verde-escuro: #217a00;
	--azul: #3b74f2;
	--bg: #fff;
	--text: #000;
	--cinza: #dcdcdc;

	font-size: 60%;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
	cursor: pointer;
}

img {
	max-width: 100%;
}

html,
body,
#root {
	min-height: 100vh;
}

body {
	background-color: var(--bg);
	color: var(--text);
	margin: 5rem 0;
}

body,
input,
button,
textarea {
	font: 500 1.6rem Poppins;
}

.container {
	height: 90vh;
	max-width: 700px;
}

@media (min-width: 700px) {
	:root {
		font-size: 62.5%;
	}

	#root {
		width: 100vw;
	}

	.container {
		display: flex;
		flex-direction: row;
		margin: 5rem 0;
		width: 100%;
	}
}
